body, html {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url('https://i.imgur.com/aVrOVAB.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
}

.button-container {
    margin-bottom: 20px;
}

.strat-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.3);
}

#attacker-btn {
    border-color: #f58b32;
}

#defender-btn {
    border-color: #1a89da;
}

.strat-button:hover {
    box-shadow: 0 0 10px 2px white;
}

#attacker-btn:hover {
    box-shadow: 0 0 10px 2px #f58b32;
}

#defender-btn:hover {
    box-shadow: 0 0 10px 2px #1a89da;
}

.strat-display {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
}
